<div class="row justify-content-center">
  <div class="col-6">
  <hr>

  <%= form_for [@user,@post,Post.new] do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "Create" %>
  <% end %>

  <hr>

  <% @posts.each do |post| %>
    <p>
      <%= post.content %>
    </p>
    <% if post.liked? %>
      <i class="far fa-thumbs-up liked"> <span class="liked">Like</span></i>
    <% else %>
      <i class="far fa-thumbs-up"> <%= link_to "Like", like_path(post), class: "not-liked", remote: true, method: :post  %>
    <% end %>
  <% end %>
  </div>
</div>
