<div class="row justify-content-center">
  <div class="col-4">
  <hr>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fas fa-id-badge"></i>&nbsp; <%= current_user.full_name%></li>
    <li class="list-group-item"><i class="fas fa-briefcase"></i>&nbsp; <%= current_user.occupation %></li>
    <li class="list-group-item"><i class="fas fa-home"></i>&nbsp; <%= current_user.location %></li>
    <li class="list-group-item"><i class="fas fa-heart"></i>&nbsp; <%= current_user.marital_status_wordify %></li>
    <li class="list-group-item"><%= current_user.bio %></li>
  </ul>
  </div>

  <div class="col-7">
  <hr>
  <div>
    <%= form_for [@user,@post] do |f| %>
      <%= render 'shared/form_errors', object: @post %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "What's on your mind?", class: "form-control post-box"  %>
      </div>
      <div class="form-group">
        <%= f.file_field :post_image, class: "form-control-file" %>
      </div>
      <%= f.submit "Share", class: "share-button" %>
    <% end %>
  </div>

  <hr>
  <%= render 'posts/post' %>
  </div>
</div>