<div class="row justify-content-center">
  <div class="col-6">
  <hr>

  <div>
    <%= form_for [@user,@post] do |f| %>
      <%= render 'shared/form_errors', object: @post %>
      <%= f.text_area :content, placeholder: "What's on your mind?", class: "form-control post-box"  %>
      <%= f.submit "Share", class: "share-button" %>
    <% end %>
  </div>

  <hr>

  <% @posts.each do |post| %>
    <p>
      <%= post.content %>
    </p>
    <% if post.liked? %>
      <i class="far fa-thumbs-up liked"> <span class="liked">Like</span></i>
    <% else %>
      <i class="far fa-thumbs-up"> <%= link_to "Like", like_path(post), class: "not-liked", remote: true, method: :post  %>
    <% end %>
  <% end %>
  </div>
</div>
