<!DOCTYPE html>
<html>
  <head>
    <title>Railsbook</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/nav' %>
      <%= render 'layouts/notify' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
